body{
    margin-top: 5%;
    background-color: black;
    color: #000000;
    display:flex;
    align-items: center;
    
}


.col-md-3{
    border-radius: 5px;
    border-color: aliceblue;
    border-style: solid;
   display:inline-flex;
   width: 50%
   
   
}
.row {
    
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
#sinopse{
    border:none;
}
#miranha{
    border:none;
}
#assitir{
    
    height: 100%;
    align-items: center;
}
#assistir:hover{
    cursor: pointer;
    background-color:rgb(189, 11, 11);
    color: aliceblue;
    box-shadow: 10px 5px 5px black;
    margin-right: 13px;
}